	</main>

	<footer>
		NODE.JS - URL Shortener &copy; Ivan Volkov aka oOLokiOo
	</footer>

	<script type="text/javascript">
		var clipboard = new Clipboard('.btn');

		clipboard.on('success', function(e) {
			alert("Copied!");
			e.clearSelection();
		});
	</script>

</body>
</html>
