<!DOCTYPE html>
<html>
<head>
	<title>NODE.JS - URL Shortener (c) Script was made by Ivan Volkov aka oOLokiOo</title>
	<meta charset="utf-8">

	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<header>
	</header>

	<main>