<% include ../_header.ejs %>

<h1>Simplify your inks</h1>

<form action="" method="get">
	<input name="long_url" required placeholder="paste url here" />
	<button type="submit">Click me</button>
</form>

<% include ../_footer.ejs %>
