<% include ../_header.ejs %>

<h1>User private ink zone</h1>

<p>CREATED: %created%</p>
<p>%originalURL%</p>
<p>%shortUrlPublic% <button onclick="alert('TODO:');">copy</button></p>

<p>
	%CLICK_STATISTIC_GRAPH%
</p>

<% include ../_footer.ejs %>
